body {
  margin: 0;
  width: 100%;
}

/*Header*/

h1 {
  position: absolute;
  top: -1000px;
  overflow: hidden;
}

.header-our-pets-background {
 background-color: #ffffff;
 position: sticky;
 top: 0px;
 z-index: 10;
}

header {
  max-width: 1200px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 28px;
  position: relative;
  left: 0px;
  top: -13px;
}

.logo {
  display: flex;
  flex-flow: column;
}

.logo-title {
  font-family: Georgia;
  font-size: 1.34rem;
  color: #545454;
  line-height: 110%;
}

.logo-title h2 {
  font-weight: 400;
  letter-spacing: 0.06em;
  position: relative;
  top: -6px;
  left: 0px;
}

.logo-subtitle {
  font-family: Arial;
  line-height: 15px;
  font-size: 0.81rem;
  color: #292929;
  letter-spacing: 0.099em;
  position: relative;
  top: -17px;
  left: 4px;
}

.menu {
  display: flex;
  flex-flow: row;
}

.menu nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  list-style: none;
  width: 443px;
  justify-content: space-between;
  align-items: center;
}

.menu nav ul li a {
  text-decoration: none;
  color: #CDCDCD;
  font-family: Arial;
  font-size: 0.938rem;
  line-height: 160%;
}
.menu nav ul li a:hover {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  color: #FAFAFA;
}

#about {
  color: #545454;
  position: relative;
  letter-spacing: 0.023em;
  top: -3px;
  left: 0px;
}

#pets {
  position: relative;
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  letter-spacing: 0.01em;
  top: -3px;
  left: -1px;
}

#help {
  position: relative;
  color: #545454;
  letter-spacing: 0.01em;
  top: -3px;
  left: -1px;
}

#contacts {
  color: #545454;
  position: relative;
  letter-spacing: 0.009em;
  top: -3px;
  left: 1px;
}

/* our driends */

.background-our-friends {
  background-color: #f6f6f6;
}

.couple-pets {
  display: flex;
  flex-flow: row;
  width: 580px;
  justify-content: space-between;
  padding-bottom: 30px;
  position: relative;
  top: 81px;
}

.our-friends {
  padding-bottom: 101px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

.pets-scroll {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.our-friends h2 {
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: 51px;
  left: 0px;
}

.flex-prop{
  border-radius: 9px 9px 0px 0px;
  height: 435px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
}

.pets-scroll p {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.btn-learn-more {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.063rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #fafafa;
  width: 188px;
  height: 52px;
  margin-bottom: 30px;
}

.btn-learn-more:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.flex-prop:hover {
  cursor: pointer;
  outline: 1px solid #fddcc4; 
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}

.arrow-navigation{
  padding-top: 111px;
  margin: 0 auto;
  width: 340px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.arrow-navigation-btn {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100%;
  width: 51px;
  height: 51px;
  color: #292929;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}

.arrow-navigation button:disabled {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.arrow-navigation button:enabled {
  background-color: #f6f6f6;
}

.arrow-navigation button:nth-child(3){
  background-color: #f1cdb3;
}

.arrow-navigation button:enabled:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

/* Footer */

.footer-background {
  background: url(../../assets/images/start-screen-gradient-background.png),
   radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
   background-size: cover;
}

footer {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.row-prop {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footer-h2 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.email-telephone-section h2 {
  position: relative;
  top: -64px;
  left: 0px;
}

.local-position-section h2 {
  position: relative;
  top: -54px;
  left: -13px;
}

.email-image {
  background-image: url(../../assets/icons/mail.png);
  width: 46px;
  height: 26px;
  background-repeat: no-repeat;
  position: relative;
  top: -22px;
}

.telephone-image {
  background-image: url(../../assets/icons/phone.png);
  width: 40px;
  height: 32px;
  background-repeat: no-repeat;
  position: relative;
  top: 21px;
}

.store-location-image {
  background-image: url(../../assets/icons/pin.png);
  width: 22px;
  height: 32px;
  background-repeat: no-repeat;
}

.email-telephone-section p {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.local-position-section p {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.email p {
  position: relative;
  top: -22px;
  left: -27px;
}

.telephone p {
  position: relative;
  top: 21px;
  left: -39px;
}

.store-image {
  position: relative;
  top: -22px;
  left: -14px;
}

.self-image {
  position: relative;
  top: 11px;
  left: -14px;
}

.store-location p {
  position: relative;
  top: -22px;
  left: 6px;
}

.self-location p {
  position: relative;
  top: 11px;
  left: -18px;
}

.footer-hover:hover {
  cursor: pointer;
  text-shadow: 6px 6px black;
}

.footer-link-style {
  text-decoration: none;
  color: #F1CDB3;
}

