/** {
  outline: 1px solid red;
  }*/

body {
  margin: 0;
  width: 100%;
}
/*Header*/
h1 {
  position: absolute;
  top: -1000px;
  overflow: hidden;
}

.header-main-background {
  background: url(../../assets/images/start-screen-gradient-background.png),
   radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
   background-size: cover;
}

header {
  max-width: 1200px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 58px;
  position: relative;
  left: 0px;
  top: -18px;
}

.logo {
  display: flex;
  flex-flow: column;
}

.logo-title {
  font-family: Georgia;
  font-size: 1.34rem;
  color: #F1CDB3;
  line-height: 110%;
}

.logo-title h2 {
  font-weight: 400;
  letter-spacing: 0.06em;
  position: relative;
  top: -6px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.logo-subtitle {
  font-family: Arial;
  line-height: 15px;
  font-size: 0.81rem;
  color: #FFFFFF;
  letter-spacing: 0.099em;
  position: relative;
  top: -17px;
  left: 4px;
}

.menu {
  display: flex;
  flex-flow: row;
}

.menu nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  list-style: none;
  width: 443px;
  justify-content: space-between;
  align-items: center;
}

.menu nav ul li a {
  text-decoration: none;
  color: #CDCDCD;
  font-family: Arial;
  font-size: 0.938rem;
  line-height: 160%;
}
.menu nav ul li a:hover {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  color: #FAFAFA;
}

#about {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  position: relative;
  letter-spacing: 0.023em;
  top: -3px;
  left: 0px;
}

#pets {
  position: relative;
  letter-spacing: 0.01em;
  top: -3px;
  left: -1px;
}

#help {
  position: relative;
  letter-spacing: 0.01em;
  top: -3px;
  left: -1px;
}

#contacts {
  position: relative;
  letter-spacing: 0.009em;
  top: -3px;
  left: 1px;
}

/*not-only*/

.not-only {
  padding-top: 25px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.info-not-omly h2 {
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.750rem;
  line-height: 130%;
  color: #FFFFFF;
  position: relative;
  top: 127px;
  left: 0px;
}

.info-not-only-paragraph {
  max-width: 460px;
  text-align: left;
  font-family: Arial;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 160%;
  color: #CDCDCD;
  position: relative;
  top: 131px;
  left: 0px;
  letter-spacing: 0.016em;
}

.start-screen-puppy {
  position: relative;
  top: 0px;
  left: 0px;
}

.make-friend {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  position: relative;
  top: 158px;
  left: 0px;
  outline: none;
}

.make-friend:hover {
  cursor: pointer;
  background: #fddcc4;
}

.make-friend span {
  font-family: Georgia;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

/*about*/

.about {
  padding-bottom: 89px;
  padding-top: 80px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #ffffff;
}

.background-about {
  background-color: #ffffff;
}

.pets-about{
  max-width: 300px;
  max-height: 408px;
  position: relative;
  top: 0px;
  left: 56px;
}

.text-about h2 {
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: -15px;
  left: -64px;
}

.text-about{
  font-family: Arial;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 160%;
  color: #4C4C4C;
  text-align: left;
}

.first-chapter {
  position: relative;
  top: -21px;
  left: -64px;
  letter-spacing: 0.012em;
}

.second-chapter {
  position: relative;
  top: -11px;
  left: -65px;
  letter-spacing: 0.013em;
}

/* Our Friends */

.background-our-friends {
  background-color: #f6f6f6;
}

.our-friends {
  padding-bottom: 241px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

.pets-scroll {
  width: 1200px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.our-friends h2 {
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: 51px;
  left: 0px;
}

.arrow-left {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 51px;
  height: 51px;
  background-image: url(../../assets/icons/Arrow-left.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50% ;
  position: relative;
  top: 81px;
  left: -27px;
}

.arrow-left:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  background-size: 35%;
}

.flex-prop{
  height: 435px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
}

.pets-scroll p {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.btn-learn-more {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.063rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #fafafa;
  width: 188px;
  height: 52px;
}

.btn-learn-more:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.flex-prop:hover {
  cursor: pointer;
  outline: 1px solid #fddcc4; 
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}

.arrow-right {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100%;
  width: 51px;
  height: 51px;
  background-image: url(../../assets/icons/Arrow-right.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50% ;
  position: relative;
  top: 81px;
  left: 29px;
}

.arrow-right:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  background-size: 35%;
}

.btn-get-know {
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: none;
  position: relative;
  top: 141px;
  left: 0px;
}

.btn-get-know:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.pet-katrine{
  position: relative;
  top: 81px;
  left: -32px;
}

.pet-jennifer {
  position: relative;
  top: 81px;
  left: 0px;
}

.pet-woody {
  position: relative;
  top: 81px;
  right: -33px;
}

.cat-Katrine {
  position: relative;
  top: -15px;
  right: 0px;
}

.cat-Katrine p {
  position: relative;
  top: -15px;
  right: 0px;
}

.btn-learn-more {
  position: relative;
  top: -15px;
  right: 0px;
}

.pet-Katrine {
  position: relative;
  top: -15px;
  right: 0px;
}

.pet-Woody {
  position: relative;
  top: -15px;
  right: 0px;
}