body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
/*Header*/
h1 {
  position: absolute;
  top: -1000px;
  overflow: hidden;
}

.header-main-background {
  background: url(../../assets/images/start-screen-gradient-background.png),
   radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
   background-size: cover;
}

header {
  max-width: 1200px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 58px;
  position: relative;
  left: 0px;
  top: -13px;
}

.logo {
  display: flex;
  flex-flow: column;
}

.logo-title {
  font-family: Georgia;
  font-size: 1.34rem;
  color: #F1CDB3;
  line-height: 110%;
  z-index: 40;
}

.logo-title h2 {
  font-weight: 400;
  letter-spacing: 0.06em;
  position: relative;
  top: -6px;
  left: 0px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
}

.logo-subtitle {
  font-family: Arial;
  line-height: 15px;
  font-size: 0.81rem;
  color: #FFFFFF;
  letter-spacing: 0.099em;
  position: relative;
  top: -17px;
  left: 4px;
  z-index: 40;
}

.menu {
  display: flex;
  flex-flow: row;
}

.menu nav ul{
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row;
  list-style: none;
  width: 443px;
  justify-content: space-between;
  align-items: center;
}

.menu nav ul li a {
  text-decoration: none;
  color: #CDCDCD;
  font-family: Arial;
  font-size: 0.938rem;
  line-height: 160%;
}
.menu nav ul li a:hover:not(.burger-menu-btn) {
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  color: #FAFAFA;
}

#about {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  padding-bottom: 4px;
  position: relative;
  letter-spacing: 0.023em;
  top: -3px;
  left: -25px;
}

#pets {
  position: relative;
  letter-spacing: 0.01em;
  top: -3px;
  left: -19px;
}

#help {
  position: relative;
  letter-spacing: 0.01em;
  top: -3px;
  left: -10px;
}

#contacts {
  position: relative;
  letter-spacing: 0.009em;
  top: -3px;
  left: 1px;
}

@media (min-width: 768px) and (max-width: 1280px){
  .logo{
    position: relative;
    top: -30px;
    left: 30px;
  }
  .menu{
    position: relative;
    top: -30px;
    left: -30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  header{
    height: 135px;
  }
  .logo{
    position: relative;
    top: -51px;
    left: 10px;
  }
  .burger {
    position: relative;
    top: -52px;
    left: -53px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    width: 30px;
    height: 22px;
  }

  .overlay{
    display: none;
  }

  .overlay-active{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .overley-burger-outer{
    display: none;
  }

  .overley-burger-outer-active{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 25;
  }
  

  .burger-menu-btn{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    width: 30px;
    height: 18px;
    border-top: 2px solid #F1CDB3;
    border-bottom: 2px solid #F1CDB3;
  }

  nav{
    position: relative;
  }

  .burger-active {
    position: absolute;
    top: -114px;
    left: -320px;
    display: flex;
    flex-flow: column;
    width: 300px;
    height: 400px;
    background-color: #292929;
    z-index: 30;
    padding:10px;
    animation: slideIn 1s;
  }

  .burger-active .burger-menu-btn{
    position: absolute;
    top: 52px;
    right: 53px;
  }

  .burger-active #about{
    position: relative;
    top: 90px;
  }
  .burger-active #pets{
    position: relative;
    top: 90px;
  }
  .burger-active #help{
    position: relative;
    top: 90px;
  }
  .burger-active #contacts{
    position: relative;
    top: 90px;
  }

  .menu nav ul li a{
    font-size: 32px;
    line-height: 160%;
  }

  @keyframes rotateBurger {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(400px);
    }
    100% {
      transform: translateX(0px);
    }
  }
 
  .menu nav ul{
    flex-flow: column;
    width: 100%;
  }

  .menu nav ul li {
    padding-bottom: 10px;
  }

  .burger-active .burger-menu-btn{
    display: flex;
    align-items: center;
    width: 30px;
    height: 18px;
    border-top: 2px solid #F1CDB3;
    border-bottom: 2px solid #F1CDB3;
    animation: rotateBurger 2s;
    transform: rotate(90deg);
  }

  .burger-menu-lines {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
  }

  .burger-dissactive .burger-menu-btn{
    animation: rotateBurgertoDissactive  1s;
    transform: rotate(0deg);
  }
  @keyframes rotateBurgertoDissactive {
    0% {
      transform: rotate(90deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
 
  .burger-dissactive {
    animation: slideOut 2s;
  }

  @keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(400px);
    }
  }
  /*.burger{
    min-width: 30px;
    min-height: 22px;
    display: block;
    background-image: url(../../assets/icons/Burger.png);
    background-repeat: no-repeat;
    background-position-y: center;
  }*/
  /*.menu nav ul{
    display: flex;
    justify-content: flex-start;
    width: 30px;
    height: 22px;
    overflow: hidden;
    position: relative;
    top: -52px;
    left: -53px;
  }*/
  /*.menu nav ul li{
    padding-bottom: 10px;
  }
  .menu nav ul li a{
    font-size: 0.750rem;
  }
  .menu nav ul li:first-child{
    padding-bottom: 0px;
  }
  .menu nav ul li:nth-child(2){
    padding-top: 50px;
  }*/

  /*.menu nav ul:hover{
    height: 150px;
    display: flex;
    flex-flow: column;
    overflow: visible;
    width: 130px;
    position: relative;
    top: -70px;
    left: -3px;
  }*/
}

/*not-only*/

.not-only {
  padding-top: 27px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.info-not-omly h2 {
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.750rem;
  line-height: 130%;
  color: #FFFFFF;
  position: relative;
  top: 130px;
  left: 0px;
}

.info-not-only-paragraph {
  max-width: 460px;
  text-align: left;
  font-family: Arial;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 160%;
  color: #CDCDCD;
  position: relative;
  top: 134px;
  left: 0px;
  letter-spacing: 0.016em;
}

.start-screen-puppy {
  position: relative;
  top: 3px;
  left: 0px;
}

.make-friend {
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  position: relative;
  top: 161px;
  left: 0px;
  outline: none;
}

.make-friend a {
  text-decoration: none;
}

.make-friend:hover {
  cursor: pointer;
  background: #fddcc4;
}

.make-friend span {
  font-family: Georgia;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

@media (min-width: 768px) and (max-width: 1280px){
.not-only{
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 92px;
}
.info-not-omly h2{
  top: -128px;
  left: 0px;
}
.info-not-only-paragraph{
  top: -124px;
  left: -1px;
}
.make-friend{
  top: -96px;
  left: 126px;
}
.start-screen-puppy{
top: 4px;
left: 69px;
}
}
@media (min-width: 320px) and (max-width: 767px) {
  .not-only{
    padding-top: 85px;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .info-not-omly h2{
    display: flex;
    font-size: 1.563rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -149px;
    left: 0px;
  }
  .info-not-only-paragraph{
    width: 300px;
    display: flex;
    font-size: 0,938;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: -129px;
    left: 0px;
  }
  .make-friend{
    top: -102px;
    left: 46px;
  }
  .start-screen-puppy{
    top: 3px;
    left: 20px;
    }
}

/*about*/

.about {
  padding-bottom: 89px;
  padding-top: 80px;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background-color: #ffffff;
}

.background-about {
  background-color: #ffffff;
}

.pets-about{
  max-width: 300px;
  max-height: 408px;
  position: relative;
  top: 0px;
  left: 58px;
}

.text-about h2 {
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: -15px;
  left: -57px;
}

.text-about{
  font-family: Arial;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 160%;
  color: #4C4C4C;
  text-align: left;
}

.first-chapter {
  width: 430px;
  position: relative;
  top: -21px;
  left: -57px;
  letter-spacing: 0.012em;
}

.second-chapter {
  width: 430px;
  position: relative;
  top: -11px;
  left: -58px;
  letter-spacing: 0.013em;
}

@media (min-width: 768px) and (max-width: 1280px){
  .about{
    flex-flow: column;
    align-items: center;
    padding-bottom: 170px;
    padding-top: 51px;  
  }
  .pets-about{
    order: 3;
    position: relative;
    top: 70px;
    left: 0px;
  }
  .text-about h2{
    top: 0px;
    left: 0px;
  }
  .first-chapter{
    position: relative;
    top: -6px;
    left: 0px;
  }
  .second-chapter{
    position: relative;
    top: 4px;
    left: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px){
  .about{
    flex-flow: column;
    align-items: center;
    padding-bottom: 74px;
    padding-top: 22px;
  }
  .pets-about{
    order: 3;
    position: relative;
    top: 35px;
    left: 0px;
  }
  .text-about h2{
    text-align: center;
    font-size: 1.563rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    top: -1px;
    left: 0px;
  }
  .text-about p{
    width: 270px;
    font-size: 0.938rem;
    line-height: 160%;
    text-align: justify;
  }
  .first-chapter{
    position: relative;
    top: 2px;
    left: 0px;
  }
  .second-chapter{
    position: relative;
    top: 9px;
    left: 0px;
  }
}

/* Our Friends */

.background-our-friends {
  background-color: #f6f6f6;
}

.our-friends {
  padding-bottom: 210px;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  max-width: 1200px;
  align-items: center;
}

.pets-scroll {
  width: 1200px;
  height: 465px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 80px;
  left: 0px;
}

.our-friends h2 {
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: 51px;
  left: 0px;
}

.arrow-left {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  width: 51px;
  height: 51px;
  background-image: url(../../assets/icons/Arrow-left.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50% ;
  position: absolute;
  top: 193px;
  left: 1px;
}

.arrow-left:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  background-size: 35%;
}

.flex-prop{
  height: 435px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fafafa;
}

.pets-scroll p {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.btn-learn-more {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.063rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #fafafa;
  width: 188px;
  height: 52px;
}

.btn-learn-more:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.flex-prop:hover {
  cursor: pointer;
  outline: 1px solid #fddcc4; 
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
}

.arrow-right {
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100%;
  width: 51px;
  height: 51px;
  background-image: url(../../assets/icons/Arrow-right.png);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50% ;
  position: absolute;
  top: 193px;
  left: 1149px;
}

.arrow-right:hover {
  cursor: pointer;
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  background-size: 35%;
}

.btn-get-know {
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.063rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  border: none;
  position: relative;
  top: 110px;
  left: 0px;
}

.btn-get-know a {
  text-decoration: none;
  color: #292929;
}

.btn-get-know:hover {
  cursor: pointer;
  background-color: #fddcc4;
}

.cat-Katrine p {
  position: relative;
  top: -15px;
  right: 0px;
}

.btn-learn-more {
  position: relative;
  top: -15px;
  right: 0px;
}

.pet-katrine {
  position: absolute;
  top: 0px;
  left: 0px;
}
.cat-Katrine{
  position: relative;
  top: -15px;
  left: 0px;
}
.pet-jennifer {
  position: absolute;
  top: 0px;
  left: 360px;
}
.pet-jennifer p{
  position: relative;
  top: -15px;
}
.pet-Jennifer{
  position: relative;
  top: -15px;
  left: 0px;
}
.pet-woody {
  width: 270px;
  position: absolute;
  top: 0px;
  left: 720px;
  right: 0px;
}
.pet-Woody{
  position: relative;
  top: -15px;
}
.pet-sophia{
  position: absolute;
  top: 0px;
  left: 890px;
}
.pet-timmy{
  position: absolute;
  top: 0px;
  left: 890px;
}
.pet-charly{
  position: absolute;
  top: 0px;
  left: 890px;
}
.pet-scarlet{
  position: absolute;
  top: 0px;
  left: 890px;
}
.pet-freddie{
  position: absolute;
  top: 0px;
  left: 890px;
}
.slider-pets{
  width: 990px;
  height: 435px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -15px;
  left: 105px;
  overflow: hidden;
}
.flex-prop:hover {
  cursor: pointer;
  outline: none; 
  box-shadow: none;
}

.active-one{
  left: 0px;
}
.active-two{
  left: 360px
}
.active-three{
  left: 720px;
}
.hide-pet-to-right-one{
  left: 1000px;
}
.hide-pet-to-right-two{
  left: 1000px;
}
.hide-pet-to-right-three{
  left: 1000px;
}
.to-left-one{
  animation: to-left-one 1s;
}
@keyframes to-left-one {
  from {
    left: 0px;
  }
  to {
    left: -990px;
  }
}
.to-left-two{
  animation: to-left-two 1s;
}
@keyframes to-left-two {
  from {
    left: 360px;
  }
  to {
    left: -720px;
  }
}
.to-left-three{
  animation: to-left-three 1s;
}
@keyframes to-left-three {
  from {
    left: 720px;
  }
  to {
    left: -270px;
  }
}
.from-right-one{
  animation: from-right-one 1s;
}
@keyframes from-right-one {
  from{
    left: 990px;
  }
  to{
    left: 0px;
  }
}
.from-right-two{
  animation: from-right-two 1s;
}
@keyframes from-right-two {
  from{
    left: 1350px;
  }
  to{
    left: 360px;
  }
}
.from-right-three{
  animation: from-right-three 1s;
}
@keyframes from-right-three {
  from{
    left: 1710px;
  }
  to{
    left: 720px;
  }
}
.to-right-one{
  animation: to-right-one 1s;
}
@keyframes to-right-one {
  from {
    left: 0px;
  }
  to {
    left: 990px;
  }
}
.to-right-two{
  animation: to-right-two 1s;
}
@keyframes to-right-two {
  from {
    left: 360px;
  }
  to {
    left: 1350px;
  }
}
.to-right-three{
  animation: to-right-three 1s;
}
@keyframes to-right-three {
  from {
    left: 720px;
  }
  to {
    left: 1710px;
  }
}
.from-left-one{
  animation: from-left-one 1s;
}
@keyframes from-left-one {
  from{
    left: -1710px;
  }
  to{
    left: 0px;
  }
}
.from-left-two{
  animation: from-left-two 1s;
}
@keyframes from-left-two {
  from{
    left: -1350px;
  }
  to{
    left: 360px;
  }
}
.from-left-three{
  animation: from-left-three 1s;
}
@keyframes from-left-three {
  from{
    left: -990px;
  }
  to{
    left: 720px;
  }
}

@media (min-width: 768px) and (max-width: 1280px){
  .our-friends{
    padding-bottom: 211px;
  }
  #about{
    left: -27px;
  }
  #pets{
    left: -19px;
  }
  #help{
    left: -11px;
  }
  #contacts{
    left: 0px;
  }
  .slider-pets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 580px;
    overflow: hidden;
    top: 1px;
    left: 310px;
  }
  .btn-get-know{
    top: 111px;
  }
  .flex-prop{
    margin-right: 40px;

  }
  .arrow-left{
    margin-right: 12px;
    left: 247px;
    top: 193px;
  }
  .arrow-right{
    margin-left: -54px;
    left: 956px;
    top: 193px;
}
.pet-katrine{
  position: absolute;
  top: 0px;
  left: 0px;
}
.pet-jennifer{
  position: absolute;
  top: 0px;
  left: 310px;
}
.pet-woody{
  position: absolute;
  width: 270px;
  top: 0px;
  left: 580px;
  right: 0px;
}
.pet-sophia{
  position: absolute;
  top: 0px;
  left: 580px;
  display: flex;
}
.pet-timmy{
  position: absolute;
  top: 0px;
  left: 580px;
  display: flex;
}
.pet-charly{
  position: absolute;
  top: 0px;
  left: 580px;
  display: flex;
}
.pet-scarlet{
  position: absolute;
  top: 0px;
  left: 580px;
  display: flex;
}
.pet-freddie{
  position: absolute;
  top: 0px;
  left: 580px;
  display: flex;
}
.to-left-one{
  animation: to-left-one 1s;
}
.active-one{
  left: 0px;
}
.active-two{
  left: 310px
}
.hide-pet-to-right-one{
  left: 1000px;
}
.hide-pet-to-right-two{
  left: 1000px;
}
@keyframes to-left-one {
  from {
    left: 0px;
  }
  to {
    left: -580px;
  }
}
.to-left-two{
  animation: to-left-two 1s;
}
@keyframes to-left-two {
  from {
    left: 310px;
  }
  to {
    left: -270px;
  }
}
.from-right-one{
  animation: from-right-one 1s;
}
@keyframes from-right-one {
  from{
    left: 580px;
  }
  to{
    left: 0px;
  }
}
.from-right-two{
  animation: from-right-two 1s;
}
@keyframes from-right-two {
  from{
    left: 890px;
  }
  to{
    left: 310px;
  }
}

.to-right-one{
  animation: to-right-one 1s;
}
.active-one{
  left: 0px;
}
.active-two{
  left: 310px
}
.hide-pet-to-right-one{
  left: 580px;
}
.hide-pet-to-right-two{
  left: 890px;
}
@keyframes to-right-one {
  from {
    left: 0px;
  }
  to {
    left: 580px;
  }
}
.to-right-two{
  animation: to-right-two 1s;
}
@keyframes to-right-two {
  from {
    left: 310px;
  }
  to {
    left: 890px;
  }
}
.from-left-one{
  animation: from-left-one 1s;
}
@keyframes from-left-one {
  from{
    left: -890px;
  }
  to{
    left: 0px;
  }
}
.from-left-two{
  animation: from-left-two 1s;
}
@keyframes from-left-two {
  from{
    left: -580px;
  }
  to{
    left: 310px;
  }
}
  }

@media (min-width: 320px) and (max-width: 767px){
  .slider-pets{
    width: 270px;
    height: 465px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 465px;
  }
  .slider-pets:hover{
    cursor: pointer;
    outline: none; 
    box-shadow: none;
  }
  .pets-scroll{
    position: relative;
    top: 0px;
    left: 0px;
  }
  .pet-katrine{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 0px;
    display: none;
  }
  .pet-jennifer{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 270px;
    display: none;
  }
  .pet-woody{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 405px;
    right: 0px;
    display: none;
  }
  .pet-sophia{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 270px;
    display: none;
  }
  .pet-timmy{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 270px;
    display: none;
  }
  .pet-charly{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 270px;
    display: none;
  }
  .pet-scarlet{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 270px;
    display: none;
  }
  .pet-freddie{
    width: 270px;
    position: absolute;
    top: 41px;
    left: 270px;
    display: none;
  }
  .our-friends{
    padding-bottom: 167px;
  }
  .our-friends h2{
    font-size: 1.563rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;
    top: 20px;
    left: 0px;
  }
  .arrow-right{
    position: absolute;
    top: 497px;
    left: 641px;
  }
  .arrow-left{
    position: absolute;
    top: 497px;
    left: 509px;
  }
  .btn-get-know{
    top: 0px;
    left: 0px;
  }
  .btn-get-know-link{
    position: relative;
    top: 125px;
  }
  .hide-pet-to-left{
    left: -270px;
    display: flex;
    flex-flow: column;
  }
  .hide-pet-to-right{
    left: 270px;
    display: flex;
    flex-flow: column;
  }
  .active, .next{
    display: flex;
    flex-flow: column;
  }
  .active{
    left: 0px;
    display: flex;
    flex-flow: column;
  }
  .next {
    width: 270px;
    animation: from-right 1s;
  }

  @keyframes from-right{
    from{
      left:270px;
    }
    to{
      left: 0px;
    }
  }
  .to-left{
    width: 270px;
    animation: to-left 1s;
  }
  @keyframes to-left{
    from{
      left: 0px;
    }
    to{
      left: -270px;
    }
  }
  .previous{
    left: -270px;
  }
  .from-left{
    animation: from-left 1s;
  }
  @keyframes from-left {
    from {
      left: -270px;
    }
    to{
      left: 0px;
    }
  }
  .to-right{
    animation: to-right 1s;
  }
  @keyframes to-right{
    from{
      left: 0px;
    }
    to{
      left: 270px;
    }
  }
}
/* help */

.background-help {
  background-color: #ffffff;
}

.help {
  padding-top: 51px;
  padding-bottom: 115px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.help h2 {
  padding-bottom: 29px;
  text-align: center;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  left: 1px;
}

.first-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.second-row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.center-prop {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.center-prop p {
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.prop-image-padding {
  padding-bottom: 10px;
}

.image-padding-second-row {
  padding-bottom: 11px;
}

.food {
  position: relative;
  left: 88px;
}

.transport{
  position: relative;
  left: 43px;
}

.bowls {
  position: relative;
  top: 1px;
  left: -42px;
}

.shampoos {
  position: relative;
  left: -86px;
}

.vitamins {
  position: relative;
  top: 36px;
  left: 83px;
}

.medicines {
  position: relative;
  top: 34px;
  left: 29px;
}

.collars {
  position: relative;
  top: 37px;
  left: -27px;
}

.sleep {
  position: relative;
  top: 35px;
  left: -80px;
}

.sleep p {
  position: relative;
  top: -1px;
  left: -2px;
}

.image-food {
  background-image: url(../../assets/icons/pet-food.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 60px;
}

.image-transport {
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/transportation.png);
  width: 60px;
  height: 60px;
}

.image-toys {
  background-image: url(../../assets/icons/toys.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.image-bowls {
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/bowls-and-cups.png);
  width: 60px;
  height: 57px;
}

.image-shampoos {
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/shampoos.png);
  width: 32px;
  height: 60px;
}

.image-vitamins {
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/vitamins.png);
  width: 60px;
  height: 55px;
}

.image-medicines {
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/medicines.png);
  width: 60px;
  height: 60px;
}

.image-collars {
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/collars-or-leashes.png);
  width: 60px;
  height: 53px;
}

.image-sleep {
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/sleeping-area.png);
  width: 60px;
  height: 60px;
}

.help-hover-prop:hover {
  cursor: pointer;
  text-decoration: underline 3px #f1cdb3;
}

@media (min-width: 768px) and (max-width: 1280px){
.help{
  padding-bottom: 282px;
}
.first-row{
  width: 630px;
}
.second-row{
  width: 630px;
}
.food {
  left: 45px;
}
.transport {
  top: 0px;
  left: 136px;
}
.toys{
  position: relative;
  top: 0px;
  left: 241px;
}
.bowls {
  top: 169px;
  left: -346px;
}
.shampoos{
  top: 168px;
  left: -265px;
}
.vitamins {
    top: 36px;
    left: 484px;
}
.medicines {
  top: 203px;
  left: -104px;
}
.medicines p{
  position: relative;
  top: -2px;
}
.collars {
  top: 204px;
  left: -40px;
}
.sleep {
  top: 203px;
  left: 5px;
}
}
@media (min-width: 320px) and (max-width: 767px){
  .help{
    padding-bottom: 130px;
  }
  .first-row{
    max-width: 290px;
  }
  .second-row{
    max-width: 290px;
  }
  .help h2{
    font-size: 1.563rem;
    line-height: 130%;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    top: -30px;
    left: 0px;
  }
  .center-prop p{
    font-size: 0.938rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    position: relative;
    top: -6px;
  }
  .image-food {
    background-image: url(../../assets/icons/food-320.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 50px;
  }
  .food {
    top: -38px;
    left: 34px;
  }
  .image-transport {
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/transportation-320.png);
    width: 50px;
    height: 50px;
  }
  .transport{
    top: -38px;
    left: 73px;
  }
  .image-toys {
    background-image: url(../../assets/icons/toys-320.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
  }
  .toys{
    position: relative;
    top: 79px;
    left: -200px;
  }
  .image-bowls {
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/bowls-and-cups-320.png);
    width: 50px;
    height: 47px;
  }
  .bowls{
    top: -28px;
    left: 167px;
  }
  .image-shampoos {
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/shampoos-320.png);
    width: 26px;
    height: 50px;
  }
  .shampoos{
    top: 89px;
    left: -188px;
  }
  .image-vitamins {
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/vitamins-320.png);
    width: 50px;
    height: 45px;
  }
  .vitamins{
    top: -18px;
    left: 188px;
  }
  .vitamins p{
    position: relative;
    top: -3px;
  }
  .image-medicines {
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/medicines-320.png);
    width: 50px;
    height: 50px;
  }
  .medicines{
    top: 98px;
    left: -52px;
  }
  .image-collars {
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/collars-or-leashes-320.png);
    width: 50px;
    height: 43px;
  }
  .collars{
    top: 99px;
    left: 0px;
  }
  .collars p{
    position: relative;
    top: -2px;
  }
  .image-sleep {
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/sleeping-area-320.png);
    width: 50px;
    height: 50px;
  }
  .sleep{
    top: 109px;
    left: -79px;
  }
}

/* in addition */

.background-in-addition {
  background-color: #f6f6f6;
}

.in-addition {
  padding-top: 92px;
  padding-bottom: 107px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.account-number {
  background: #F1CDB3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.account-number-link {
  text-decoration: none;
  position: relative;
  top: 19px;
  left: 6px;
}

.donation-information h2 {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: -20px;
  left: 6px;
}

#name-bank {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 0.938rem;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: -1px;
  left: 6px;
}

#legal-information {
  width: 380px;
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 0.750rem;
  line-height: 150%;
  letter-spacing: -0.014em;
  color: #B2B2B2;
  position: relative;
  top: 28px;
  left: 5px;
}

.card-image {
  background-image: url(../../assets/icons/credit-card.png);
  width: 30px;
  height: 23px;
  background-repeat: no-repeat;
  position: relative;
  top: 0px;
  left: 4px;

}

.account-number p {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  position: relative;
  top: 0px;
  left: -3px;
}

.donation-dog {
  margin-right: 18px;
  position: relative;
  left: -6px;
}

.account-number:hover {
  background-color: #fddcc4;
} 

@media (min-width: 768px) and (max-width: 1280px){
.in-addition{
  flex-flow: column;
  padding-top: 101px;
  padding-bottom: 171px;
}
.donation-dog{
  order: 3;
  top: 75px;
  left: 8px;
}

.donation-information h2{
  top: -21px;
  left: 0px;
}
.account-number-link{
  top: 19px;
  left: 0px;
}
.account-number p{
  top: -1px;
  left: -4px;
}
#name-bank{
  top: -1px;
  left: 0px;
}
#legal-information{
  top: 27px;
  left: 0px;
}
}
@media (min-width: 320px) and (max-width: 767px){
  .in-addition{
    padding-top: 63px;
    padding-bottom: 94px;
    flex-flow: column;
  }
  .donation-dog{
    order: 3;
    top: 56px;
    left: 9px;
  }
  .donation-information{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .donation-information h2{
    font-size: 1.563rem;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    top: -21px;
    left: 0px;
  }
  #name-bank{
    width: 274px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    font-size: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.015em;
    color: #545454;
    top: -1px;
    left: 0px;
  }
  .account-number{
    width: 281px;
    align-items: center;
  }
  .account-number-link{
    top: 18px;
    left: -1px;
  }
  .account-number p{
    font-size: 15px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  #legal-information{
    width: 280px;
    text-align: justify;
    top: 26px;
    left: 0px;
  }
}
/* footer */

.footer-background {
  background: url(../../assets/images/start-screen-gradient-background.png),
   radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
   background-size: cover;
}

footer {
  padding-top: 40px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.row-prop {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.footer-h2 {
  width: 279px;
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.email-telephone-section h2 {
  position: relative;
  top: -66px;
  left: 0px;
}

.local-position-section h2 {
  position: relative;
  top: -56px;
  left: -11px;
}

.email-image {
  background-image: url(../../assets/icons/mail.png);
  width: 46px;
  height: 26px;
  background-repeat: no-repeat;
  position: relative;
  top: -24px;
}

.telephone-image {
  background-image: url(../../assets/icons/phone.png);
  width: 40px;
  height: 32px;
  background-repeat: no-repeat;
  position: relative;
  top: 19px;
}

.store-location-image {
  background-image: url(../../assets/icons/pin.png);
  width: 22px;
  height: 32px;
  background-repeat: no-repeat;
}

.email-telephone-section p {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.local-position-section p {
  margin: 0;
  font-family: Georgia;
  font-weight: normal;
  font-size: 1.250rem;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.email p {
  position: relative;
  top: -24px;
  left: -28px;
}

.telephone p {
  position: relative;
  top: 19px;
  left: -39px;
}

.store-image {
  position: relative;
  top: -24px;
  left: -12px;
}

.self-image {
  position: relative;
  top: 9px;
  left: -12px;
}

.store-location p {
  position: relative;
  top: -23px;
  left: 3px;
}

.self-location p {
  position: relative;
  top: 9px;
  left: -21px;
}

.footer-hover:hover {
  cursor: pointer;
  text-shadow: 6px 6px black;
}

.footer-link-style {
  text-decoration: none;
  color: #F1CDB3;
}

@media (min-width: 768px) and (max-width: 1280px){
  footer{
    flex-flow: wrap;
    max-width: 768px;
    padding-top: 85px;
    padding-bottom: 75px;
  }
  .email-telephone-section{
    position: relative;
    top: 1px;
    left: 64px;
  }
  .local-position-section{
    position: relative;
    top: 1px;
    left: -75px;
  }
  .footer-puppy{
    position: relative;
    top: 75px;
    left: 234px;
  }
}
@media (min-width: 320px) and (max-width: 767px){
  footer{
    flex-flow: column;
    padding-top: 96px;
    padding-bottom: 178px;
  }
  .footer-puppy{
    position: relative;
    top: 178px;
    left: 0px;
  }
  .footer-h2{
    font-size: 25px;
    line-height: 130%;
    text-align: center;
  }

  .local-position-section{
    position: relative;
    top: 115px;
  }
  .email-image{
    top: -24px;
    left: 13px;
  }
  .email p{
    top: -24px;
    left: -15px;
  }
  .telephone-image{
    top: 19px;
    left: 19px;
  }
  .telephone p{
    top: 19px;
    left: -21px;
  }
  .local-position-section h2 {
    top: -56px;
    left: 0px;
  }
  .store-image {
    top: -17px;
    left: -11px;
  }
  .store-location p {
    top: -18px;
    left: 4px;
  }
  .self-image {
    top: 23px;
    left: -11px;
  }
  .self-location p {
    top: 22px;
    left: -21px;
  }
}